body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2484 {
  position:absolute;
  left:57px;
  top:79px;
}
#u2484_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:494px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2484_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2485 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  display:flex;
  transition:none;
}
#u2485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u2485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:324px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2486 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:300px;
  height:324px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2486 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u2487 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:28px;
  color:#79000F;
  text-align:center;
}
#u2488 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:0px;
  width:1px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:28px;
  color:#79000F;
  text-align:center;
}
#u2488 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2488_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u2489 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:10px;
  width:23px;
  height:20px;
  display:flex;
  opacity:0.5;
  transition:none;
  color:rgba(51, 51, 51, 0.4980392156862745);
}
#u2489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u2489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2490 {
  position:absolute;
  left:57px;
  top:249px;
}
#u2490_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2490_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2491 {
  position:absolute;
  left:6px;
  top:48px;
  visibility:hidden;
}
#u2491_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:249px;
  height:395px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2491_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:395px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u2492 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:395px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u2493 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:20px;
  width:225px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2493_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u2493.selected {
}
#u2493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u2494 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:58px;
  width:225px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2494 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2494_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u2494.selected {
}
#u2494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u2495 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:134px;
  width:225px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2495 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2495_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u2495.selected {
}
#u2495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u2496 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:210px;
  width:225px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2496_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u2496.selected {
}
#u2496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u2497 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:172px;
  width:225px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2497 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2497_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u2497.selected {
}
#u2497_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2498_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u2498 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:248px;
  width:225px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2498 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2498_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u2498.selected {
}
#u2498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u2499 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:96px;
  width:225px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2499 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2499_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u2499.selected {
}
#u2499_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2500 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:349px;
  width:25px;
  height:25px;
  display:flex;
  transition:none;
}
#u2500 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u2500_img.selected {
}
#u2500.selected {
}
#u2500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2501 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:349px;
  width:25px;
  height:25px;
  display:flex;
  transition:none;
}
#u2501 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u2501_img.selected {
}
#u2501.selected {
}
#u2501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2502 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:349px;
  width:25px;
  height:25px;
  display:flex;
  transition:none;
}
#u2502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u2502_img.selected {
}
#u2502.selected {
}
#u2502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:11px;
  filter:drop-shadow(none);
  transition:none;
}
#u2503 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:286px;
  width:225px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2503 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2503_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:11px;
  filter:drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u2503.selected {
}
#u2503_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2504 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:20px;
  width:225px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2505 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:58px;
  width:225px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2506 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:96px;
  width:225px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2507 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:134px;
  width:225px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2508 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:172px;
  width:225px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2509 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:210px;
  width:225px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2510 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:248px;
  width:225px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2511 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:286px;
  width:225px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2512 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:349px;
  width:25px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2513 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:349px;
  width:25px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2514 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:349px;
  width:25px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2515 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
  text-align:center;
}
#u2516 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:10px;
  width:58px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
  text-align:center;
}
#u2516 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2516_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u2517 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:10px;
  width:71px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2517 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2517_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(170, 170, 170, 0.49019607843137253);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(85, 85, 85, 1);
  border-radius:5px;
  filter:drop-shadow(1px 1px 0.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u2517.selected {
}
#u2517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2518 {
  position:absolute;
  left:0px;
  top:821px;
}
#u2518_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:414px;
  height:75px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2518_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:75px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.32941176470588235);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u2519 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:75px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u2519 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u2520 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:4px;
  width:79px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2520 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2520_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u2520.selected {
}
#u2520_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u2521 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:4px;
  width:79px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2521 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2521_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u2521.selected {
}
#u2521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u2522 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:4px;
  width:79px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2522 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2522_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u2522.selected {
}
#u2522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:14px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:9px;
  color:#FFFFFF;
}
#u2523 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:61px;
  width:198px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:9px;
  color:#FFFFFF;
}
#u2523 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2524 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:32px;
  width:21px;
  height:21px;
  display:flex;
  transition:none;
}
#u2524 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2524_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2525 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:32px;
  width:21px;
  height:21px;
  display:flex;
  transition:none;
}
#u2525 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2526 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:32px;
  width:21px;
  height:21px;
  display:flex;
  transition:none;
}
#u2526 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2526_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
