body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2527 {
  position:absolute;
  left:57px;
  top:79px;
}
#u2527_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:494px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2527_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2528 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  display:flex;
  transition:none;
}
#u2528 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u2528_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:324px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2529 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:300px;
  height:324px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2529 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u2530 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2530 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:28px;
  color:#79000F;
  text-align:center;
}
#u2531 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:0px;
  width:1px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:28px;
  color:#79000F;
  text-align:center;
}
#u2531 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2531_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u2532 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:10px;
  width:23px;
  height:20px;
  display:flex;
  opacity:0.5;
  transition:none;
  color:rgba(51, 51, 51, 0.4980392156862745);
}
#u2532 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u2532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2533 {
  position:absolute;
  left:57px;
  top:249px;
}
#u2533_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2533_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2534 {
  position:absolute;
  left:6px;
  top:48px;
  visibility:hidden;
}
#u2534_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:249px;
  height:395px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2534_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:395px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u2535 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:395px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2535 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u2536 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:20px;
  width:225px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2536 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2536_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u2536.selected {
}
#u2536_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2537_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u2537 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:58px;
  width:225px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2537 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2537_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u2537.selected {
}
#u2537_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u2538 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:134px;
  width:225px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2538 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2538_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u2538.selected {
}
#u2538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u2539 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:210px;
  width:225px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2539 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2539_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u2539.selected {
}
#u2539_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2540_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u2540 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:172px;
  width:225px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2540 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2540_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u2540.selected {
}
#u2540_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u2541 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:248px;
  width:225px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2541 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2541_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u2541.selected {
}
#u2541_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u2542 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:96px;
  width:225px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2542 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2542_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u2542.selected {
}
#u2542_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2543 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:349px;
  width:25px;
  height:25px;
  display:flex;
  transition:none;
}
#u2543 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u2543_img.selected {
}
#u2543.selected {
}
#u2543_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2544 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:349px;
  width:25px;
  height:25px;
  display:flex;
  transition:none;
}
#u2544 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u2544_img.selected {
}
#u2544.selected {
}
#u2544_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2545 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:349px;
  width:25px;
  height:25px;
  display:flex;
  transition:none;
}
#u2545 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u2545_img.selected {
}
#u2545.selected {
}
#u2545_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2546_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:11px;
  filter:drop-shadow(none);
  transition:none;
}
#u2546 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:286px;
  width:225px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2546 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2546_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:11px;
  filter:drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u2546.selected {
}
#u2546_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2547 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:20px;
  width:225px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2548 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:58px;
  width:225px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2549 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:96px;
  width:225px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2550 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:134px;
  width:225px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2551 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:172px;
  width:225px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2552 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:210px;
  width:225px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2553 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:248px;
  width:225px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2554 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:286px;
  width:225px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2555 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:349px;
  width:25px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2556 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:349px;
  width:25px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2557 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:349px;
  width:25px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2558 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2559_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
  text-align:center;
}
#u2559 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:10px;
  width:58px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
  text-align:center;
}
#u2559 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2559_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2560_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u2560 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:10px;
  width:71px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2560 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2560_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(170, 170, 170, 0.49019607843137253);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(85, 85, 85, 1);
  border-radius:5px;
  filter:drop-shadow(1px 1px 0.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u2560.selected {
}
#u2560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2561 {
  position:absolute;
  left:0px;
  top:821px;
}
#u2561_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:414px;
  height:75px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2561_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:75px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.32941176470588235);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u2562 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:75px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u2562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u2563 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:4px;
  width:79px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2563 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2563_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u2563.selected {
}
#u2563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u2564 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:4px;
  width:79px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2564_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u2564.selected {
}
#u2564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u2565 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:4px;
  width:79px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2565 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2565_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u2565.selected {
}
#u2565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2566_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:14px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:9px;
  color:#FFFFFF;
}
#u2566 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:61px;
  width:198px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:9px;
  color:#FFFFFF;
}
#u2566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2567 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:32px;
  width:21px;
  height:21px;
  display:flex;
  transition:none;
}
#u2567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2568 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:32px;
  width:21px;
  height:21px;
  display:flex;
  transition:none;
}
#u2568 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2569 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:32px;
  width:21px;
  height:21px;
  display:flex;
  transition:none;
}
#u2569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
