body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2762 {
  position:absolute;
  left:57px;
  top:79px;
}
#u2762_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:494px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2762_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2763 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  display:flex;
  transition:none;
}
#u2763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u2763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:324px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2764 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:300px;
  height:324px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2764 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u2765 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2765 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:28px;
  color:#79000F;
  text-align:center;
}
#u2766 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:0px;
  width:1px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:28px;
  color:#79000F;
  text-align:center;
}
#u2766 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2766_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u2767 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:10px;
  width:23px;
  height:20px;
  display:flex;
  opacity:0.5;
  transition:none;
  color:rgba(51, 51, 51, 0.4980392156862745);
}
#u2767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u2767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2768 {
  position:absolute;
  left:57px;
  top:249px;
}
#u2768_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2768_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2769 {
  position:absolute;
  left:6px;
  top:48px;
  visibility:hidden;
}
#u2769_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:249px;
  height:395px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2769_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:395px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u2770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:395px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2770 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u2771 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:20px;
  width:225px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2771_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u2771.selected {
}
#u2771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u2772 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:58px;
  width:225px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2772_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u2772.selected {
}
#u2772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u2773 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:134px;
  width:225px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2773_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u2773.selected {
}
#u2773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u2774 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:210px;
  width:225px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2774 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2774_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u2774.selected {
}
#u2774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u2775 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:172px;
  width:225px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2775_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u2775.selected {
}
#u2775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u2776 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:248px;
  width:225px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2776 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2776_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u2776.selected {
}
#u2776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u2777 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:96px;
  width:225px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2777_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u2777.selected {
}
#u2777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2778 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:349px;
  width:25px;
  height:25px;
  display:flex;
  transition:none;
}
#u2778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u2778_img.selected {
}
#u2778.selected {
}
#u2778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2779 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:349px;
  width:25px;
  height:25px;
  display:flex;
  transition:none;
}
#u2779 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u2779_img.selected {
}
#u2779.selected {
}
#u2779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2780 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:349px;
  width:25px;
  height:25px;
  display:flex;
  transition:none;
}
#u2780 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u2780_img.selected {
}
#u2780.selected {
}
#u2780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:11px;
  filter:drop-shadow(none);
  transition:none;
}
#u2781 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:286px;
  width:225px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2781 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2781_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:11px;
  filter:drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u2781.selected {
}
#u2781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2782 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:20px;
  width:225px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2783 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:58px;
  width:225px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2784 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:96px;
  width:225px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2785 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:134px;
  width:225px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2786 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:172px;
  width:225px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2787 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:210px;
  width:225px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2788 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:248px;
  width:225px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2789 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:286px;
  width:225px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2790 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:349px;
  width:25px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2791 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:349px;
  width:25px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2792 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:349px;
  width:25px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2793 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
  text-align:center;
}
#u2794 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:10px;
  width:58px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
  text-align:center;
}
#u2794 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2794_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u2795 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:10px;
  width:71px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2795 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2795_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(170, 170, 170, 0.49019607843137253);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(85, 85, 85, 1);
  border-radius:5px;
  filter:drop-shadow(1px 1px 0.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u2795.selected {
}
#u2795_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2796 {
  position:absolute;
  left:0px;
  top:821px;
}
#u2796_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:414px;
  height:75px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2796_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:75px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.32941176470588235);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u2797 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:75px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u2797 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2797_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u2798 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:4px;
  width:79px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2798 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2798_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u2798.selected {
}
#u2798_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u2799 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:4px;
  width:79px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2799 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2799_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u2799.selected {
}
#u2799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u2800 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:4px;
  width:79px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2800 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2800_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u2800.selected {
}
#u2800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:14px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:9px;
  color:#FFFFFF;
}
#u2801 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:61px;
  width:198px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:9px;
  color:#FFFFFF;
}
#u2801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2802 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:32px;
  width:21px;
  height:21px;
  display:flex;
  transition:none;
}
#u2802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2803 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:32px;
  width:21px;
  height:21px;
  display:flex;
  transition:none;
}
#u2803 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2804 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:32px;
  width:21px;
  height:21px;
  display:flex;
  transition:none;
}
#u2804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
