body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3539 {
  position:absolute;
  left:57px;
  top:79px;
}
#u3539_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:300px;
  height:494px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3539_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3540 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  display:flex;
  transition:none;
}
#u3540 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3540_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u3540_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:324px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u3541 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:300px;
  height:324px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3541 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3541_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u3542 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3542 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3542_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3543_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:28px;
  color:#79000F;
  text-align:center;
}
#u3543 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:0px;
  width:1px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:28px;
  color:#79000F;
  text-align:center;
}
#u3543 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3543_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u3544 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:10px;
  width:23px;
  height:20px;
  display:flex;
  opacity:0.5;
  transition:none;
  color:rgba(51, 51, 51, 0.4980392156862745);
}
#u3544 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u3544_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3545 {
  position:absolute;
  left:57px;
  top:249px;
}
#u3545_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3545_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3546 {
  position:absolute;
  left:6px;
  top:48px;
  visibility:hidden;
}
#u3546_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:249px;
  height:395px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3546_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3547_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:395px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u3547 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:395px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3547 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3547_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u3548 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:20px;
  width:225px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3548 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3548_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u3548.selected {
}
#u3548_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u3549 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:58px;
  width:225px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3549 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3549_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u3549.selected {
}
#u3549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3550_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u3550 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:134px;
  width:225px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3550 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3550_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u3550.selected {
}
#u3550_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u3551 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:210px;
  width:225px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3551 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3551_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u3551.selected {
}
#u3551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u3552 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:172px;
  width:225px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3552_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u3552.selected {
}
#u3552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3553_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u3553 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:248px;
  width:225px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3553_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u3553.selected {
}
#u3553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3554_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u3554 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:96px;
  width:225px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3554 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3554_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  filter:drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u3554.selected {
}
#u3554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3555 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:349px;
  width:25px;
  height:25px;
  display:flex;
  transition:none;
}
#u3555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u3555_img.selected {
}
#u3555.selected {
}
#u3555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3556 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:349px;
  width:25px;
  height:25px;
  display:flex;
  transition:none;
}
#u3556 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u3556_img.selected {
}
#u3556.selected {
}
#u3556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3557 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:349px;
  width:25px;
  height:25px;
  display:flex;
  transition:none;
}
#u3557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u3557_img.selected {
}
#u3557.selected {
}
#u3557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3558_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:11px;
  filter:drop-shadow(none);
  transition:none;
}
#u3558 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:286px;
  width:225px;
  height:34px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3558_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:11px;
  filter:drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u3558.selected {
}
#u3558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3559 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:20px;
  width:225px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3560 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:58px;
  width:225px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3561 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:96px;
  width:225px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3562 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:134px;
  width:225px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3563 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:172px;
  width:225px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3564 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:210px;
  width:225px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3565 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:248px;
  width:225px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3566 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:286px;
  width:225px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3567 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:349px;
  width:25px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3568 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:349px;
  width:25px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3569 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:349px;
  width:25px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3570 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
  text-align:center;
}
#u3571 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:10px;
  width:58px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
  text-align:center;
}
#u3571 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u3571_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u3572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u3572 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:10px;
  width:71px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3572 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3572_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(170, 170, 170, 0.49019607843137253);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(85, 85, 85, 1);
  border-radius:5px;
  filter:drop-shadow(1px 1px 0.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u3572.selected {
}
#u3572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3573 {
  position:absolute;
  left:0px;
  top:821px;
}
#u3573_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:414px;
  height:75px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3573_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:75px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.32941176470588235);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u3574 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:75px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u3574 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u3575 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:4px;
  width:79px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3575_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u3575.selected {
}
#u3575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u3576 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:4px;
  width:79px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3576_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u3576.selected {
}
#u3576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u3577 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:4px;
  width:79px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u3577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3577_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u3577.selected {
}
#u3577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:14px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:9px;
  color:#FFFFFF;
}
#u3578 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:61px;
  width:198px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:9px;
  color:#FFFFFF;
}
#u3578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3579 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:32px;
  width:21px;
  height:21px;
  display:flex;
  transition:none;
}
#u3579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u3579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3580 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:32px;
  width:21px;
  height:21px;
  display:flex;
  transition:none;
}
#u3580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u3580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3581 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:32px;
  width:21px;
  height:21px;
  display:flex;
  transition:none;
}
#u3581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u3581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
