body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2092_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(1px 1px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
}
#u2092 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:70px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2092 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2092_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2093_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(1px 1px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:25px;
}
#u2093 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:0px;
  width:144px;
  height:70px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:25px;
}
#u2093 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2093_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:70px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(1px 1px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:25px;
}
#u2093.selected {
}
#u2093_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2094 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:0px;
  width:205px;
  height:70px;
}
#u2094_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:70px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2094_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2095 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:11px;
  width:78px;
  height:49px;
  display:flex;
  opacity:0.43;
  transition:none;
}
#u2095 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u2095_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2096_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:36px;
  text-align:center;
}
#u2096 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:70px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:36px;
  text-align:center;
}
#u2096 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2096_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:70px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:36px;
  text-align:center;
}
#u2096.selected {
}
#u2096_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2097_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(1px 1px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:25px;
}
#u2097 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:0px;
  width:141px;
  height:70px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:25px;
}
#u2097 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2097_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:70px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(1px 1px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:25px;
}
#u2097.selected {
}
#u2097_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2098_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(1px 1px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:25px;
}
#u2098 {
  border-width:0px;
  position:absolute;
  left:806px;
  top:0px;
  width:149px;
  height:70px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:25px;
}
#u2098 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2098_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:70px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(1px 1px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:25px;
}
#u2098.selected {
}
#u2098_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2099_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(1px 1px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:25px;
}
#u2099 {
  border-width:0px;
  position:absolute;
  left:1232px;
  top:0px;
  width:149px;
  height:70px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:25px;
}
#u2099 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2099_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:70px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(1px 1px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:25px;
}
#u2099.selected {
}
#u2099_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(1px 1px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:25px;
}
#u2100 {
  border-width:0px;
  position:absolute;
  left:1019px;
  top:0px;
  width:149px;
  height:70px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:25px;
}
#u2100 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2100_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:70px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(1px 1px 2.5px rgba(0, 0, 0, 0.34901960784313724));
  transition:none;
  font-size:25px;
}
#u2100.selected {
}
#u2100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:178px;
  background:inherit;
  background-color:rgba(170, 170, 170, 0.7294117647058823);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:9px;
  color:#000000;
}
#u2101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:903px;
  width:1440px;
  height:178px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:9px;
  color:#000000;
}
#u2101 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(170, 170, 170, 0.7294117647058823);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
}
#u2102 {
  border-width:0px;
  position:absolute;
  left:914px;
  top:972px;
  width:140px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
}
#u2102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2102_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
}
#u2102.selected {
}
#u2102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(170, 170, 170, 0.7294117647058823);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
}
#u2103 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:972px;
  width:140px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
}
#u2103 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2103_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
}
#u2103.selected {
}
#u2103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(170, 170, 170, 0.7294117647058823);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
}
#u2104 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:972px;
  width:140px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:18px;
}
#u2104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2104_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:18px;
}
#u2104.selected {
}
#u2104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:9px;
  color:#000000;
  text-align:center;
}
#u2105 {
  border-width:0px;
  position:absolute;
  left:570px;
  top:1069px;
  width:300px;
  height:10px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:9px;
  color:#000000;
  text-align:center;
}
#u2105 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2106 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:1002px;
  width:40px;
  height:40px;
  display:flex;
  transition:none;
}
#u2106 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2107 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:1002px;
  width:40px;
  height:40px;
  display:flex;
  transition:none;
}
#u2107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2108 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:1002px;
  width:40px;
  height:40px;
  display:flex;
  transition:none;
}
#u2108 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2109 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:918px;
  width:436px;
  height:50px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2109 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter-Bold", "Inter Bold", "Inter", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#3F3F46;
}
#u2110 {
  border-width:0px;
  position:absolute;
  left:592px;
  top:103px;
  width:263px;
  height:59px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Inter-Bold", "Inter Bold", "Inter", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#3F3F46;
}
#u2110 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2110_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:177px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
}
#u2111 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:641px;
  width:492px;
  height:177px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
}
#u2111 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
  text-align:center;
}
#u2112 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:215px;
  width:437px;
  height:115px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
  text-align:center;
}
#u2112 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
  text-align:center;
}
#u2113 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:386px;
  width:477px;
  height:220px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
  text-align:center;
}
#u2113 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2114 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:195px;
  width:300px;
  height:170px;
  display:flex;
  transition:none;
}
#u2114 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u2114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2115 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:386px;
  width:300px;
  height:170px;
  display:flex;
  transition:none;
}
#u2115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u2115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2116 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:648px;
  width:300px;
  height:170px;
  display:flex;
  transition:none;
}
#u2116 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u2116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:28px;
}
#u2117 {
  border-width:0px;
  position:absolute;
  left:1237px;
  top:113px;
  width:140px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:28px;
}
#u2117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2117_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(170, 170, 170, 0.7450980392156863);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:28px;
}
#u2117.selected {
}
#u2117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
